<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ToDoApp</title>
    </head>
    <body>
        <form method="post" action="/add">
            <p>
                <input type="text" name="contents" size="50"></textarea>
                <input type="submit" value="add">
            </p>
        </form>
        <form method="post" action="/rm">
            {{ range .todo }}
                <p><input type="checkbox" name="id" value="{{ .Id }}">{{ .Content }}</p>
            {{ end }}
            <p><input type="submit" value="remove"></p>
        </form>
    </body>
</html>
